html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
    }
html, body {
   height: 100%;
}
body {
    font-size: 1.4rem;
   line-height: 1.4;
   background-color: rgb(30, 30, 35);
   color: rgb(30, 30, 35);
   transition: all 0.2s ease-in;
}

#shh {
    right: 4%;
    top: 89%;
    position: absolute;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

button {
    background-color: rgb(30, 30, 35);
    color: rgb(30, 30, 35);
    box-shadow: none;
    border: none;
    display: block;
    position: absolute;
}

button:hover {
    color: pink;
    cursor: pointer;
}