html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
    }
html, body {
   height: 100%;
}
body {
   font-size: 1.4rem;
   line-height: 1.4;
   background-color: rgb(30, 30, 35);
   color: rgb(30, 30, 35);
   transition: all 0.2s ease-in;
}
a {
  color: rgb(30, 30, 35);
  display: inline-block;
  position: absolute;
}
a:hover {
  cursor: pointer;
}
#this-button {
  right:89%;
  top: 12%;
}
#click-here {
  right: 34%;
  top: 64%;
}
#this-real-button {
  right: 20%;
  top: 10%;
}
#actual-button {
  right: 75%;
  top: 35%;
}
#real-button {
  right: 10%;
  top: 70%;
}
#fake-button {
  right: 50%;
  top: 20%;
}
#btn {
  right: 70%;
  top: 80%;
}
#next-page {
  right: 92%;
  top: 60%;
}

/* Button */
#runaway-btn {
    position: absolute;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
      }
      
button {
    position: absolute;
    float: left;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.2rem;
    width: 12.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

