html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
    }
html, body {
   height: 100%;
}
body {
    font-size: 1.4rem;
   line-height: 1.4;
   background-color: rgb(30, 30, 35);
   color: white;
   overflow: hidden;
}

/* Button */
#runaway-btn {
    position: absolute;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
      }
      
button {
    position: absolute;
    float: left;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.2rem;
    width: 12.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}